@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  background-color: grey;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 2em;
  margin: 10px;
}

.content {
  background-color: steelblue;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 36px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 10px;
  height: 200px;
  width: 400px;
  transition: 0.2s ease;
  transform: translateX(-400%);
}

.content:nth-of-type(even) {
  transform: translateX(400%);
  transition: 0.2s ease;
}

.content.show {
  transform: translateX(0);
  transition: 0.2s ease;
}

.content h2 {
  font-size: 45px;
}